<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>
<body>
    <div class="container">
        <hr>
    
        <div class="row justify-content g-2">
            <% products.forEach(product => { %>
                <div class="card" style=" width: 20rem;">
                    <div class="card-body">
                        <h5 class="card-title"><%= product.name %></h5>
                        <h5 class="card-text">Preço: R$ <%= product.price %></h5>
                        <h5 class="card-text">Quantidade em estoque: <%= product.quantity %></h5>
                        <h5 class="card-text">Fornecedor: <%= product.user.name %></h5>
                        <h5 class="card-text">E-mail: <%= product.user.email %></h5>
                        <div class="d-grid gap-2">
                            <a href="/user/create" class="btn btn-primary">Divulgar produtos</a>
                        </div>
                    </div>
                </div>
                <% }) %>
            </div>
    </div>
</body>
<%- include('./partials/footer.ejs') %>