<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>
<body>
    <div class="container">
        <hr>
        <% if(typeof messages !== 'undefined' && messages.error) { %>
            <div class="alert alert-danger">
                <%= messages.error %>
            </div>
        <% } %>

        <% if(typeof messages !== 'undefined' && messages.success) { %>
            <div class="alert alert-success">
                <%= messages.success %>
            </div>
        <% } %>

        <div class="card">
            <div class="card-header">
                <h3 style="text-align: center;">Cadastro</h3>
            </div>

            <div class="card-body">
                <form action="/user/save" method="post">
                    <input type="text" class="form-control" name="name" placeholder="Nome">
                    <br>
                    <input type="email" class="form-control" name="email" placeholder="E-mail">
                    <br>
                    <input type="password" class="form-control" name="password" placeholder="Senha">
                    <br>
                    <div class="d-grid gap-2">
                        <button class="btn btn-success" type="submit">Cadastrar</button>
                    </div>
                    <br>
                    <div style="text-align: center;">
                        <a href="/user/login">Já é cadastrado? Entrar</a>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</body>
<%- include('../partials/footer.ejs') %>